/*fonts*/
@font-face {
    src: url('../fonts/MyriadPro-Bold.otf');
    font-family: MyriadPro-Bold, sans-serif;

}

/*basic setup*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;

}

html {
    font-family: MyriadPro-Bold, sans-serif;
    font-size: 20px;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    text-align: center;
}

.row {
    max-width: 980px;

    margin: auto;
    padding: 0 30px;



}

a {
    text-decoration: none;

}

ul {
    margin: 0;
    padding: 0;

}

/*header css*/
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {

    width: 100%;
    height: 100vh;

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 54, 80, 0.98)), to(rgba(50, 54, 80, 0.8))),
        url(img/bg-1.jpg)no-repeat center/cover;

    background: linear-gradient(rgba(50, 54, 80, 0.98), rgba(50, 54, 80, 0.8)),
        url(img/bg-1.jpg)no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
}


header h1 {
    font-size: 65px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 100px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
}

header p {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    font-family: sans-serif;
    margin-top: 25px;
}

header button {
    margin-top: 60px;
    background: #e84545;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #e84545;
    padding: 10px 15px;
    border-radius: 5px solid #e84545;
    text-transform: uppercase;


}

/*mobile menu start*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(19, 15, 64);

    background-color: rgba(19, 15, 64, 0.9);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #95afc0;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

header span {
    display: none;
}


/*mobile menu end*/





nav {

    color: #fff;
}

nav ul {
    float: right;
    margin-top: 15px;

}

nav ul li {
    display: inline-block;
    padding: 10px 10px;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;



}

nav ul li:hover {
    background: #e84545;
    ;

}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    background: #30344e;

}

.sticky ul {
    margin-top: 3px;
}

.sticky ul li {
    margin: 10px;
}

.sticky img {
    margin-left: -160px;
}

nav img {
    font-size: 30px;
    margin: 25px 0px 0px -170px;
    display: inline-block;
}

p {
    text-align: center;
    margin: 0px 50px;
    font-size: 30px;
}







/*active box*/

/*active box*/



.col-3 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.col-3,
.box1,
.box2,
.box3 {
    margin-top: 70px;
}

.col-3,
.box4,
.box5,
.box6 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.col-3 span {
    font-weight: 700;
    font-size: 14px;
}

.col-3 p {
    font-size: 14px;
    padding: 10px 15px;
    text-align: justify-all;
}

/*work section*/
.col-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;


}

.col-4 img {

    width: 350px;
    height: 200px;
}

/*team section*/

.team {
    margin-top: 50px;
}

.grid-col-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    padding: 10px;
}

.grid-col-4 img {
    width: 200px;
    height: auto;

}

.grid-team h3 {
    text-align: left;
    margin-top: 10px;
    font-family: tahoma;
    font-size: 22px;
}

.grid-team span {
    text-align: left;
    font-size: 13px;
    font-family: tahoma;
    text-transform: uppercase;

    color: #e84545;
    font-weight: 700;
}

.grid-team p {
    margin-top: 20px;
    text-align: left;
    font-size: 13px;
    font-family: tahoma;


}

.team-1 span {
    margin-left: -120px;
}

.team-2 span {
    margin-left: -50px;

}

.team-3 span {
    margin-left: -135px;
}

.team-4 span {
    margin-left: -110px;
}

/*icon css*/
.icon {
    text-align: left;
}


.team a i {
    color: #c6cacc;
    padding: 15px;
    margin-top: 15px;


}

/*portfolio css*/
.col-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.col-2 img {
    width: 100%;
    height: auto;

}

.portfolio-2 {
    width: 100%;
    height: auto;
    background-color: #53354a;
    padding: 0px 100px;


}

.portfolio p {
    font-size: 36px;
    color: #fff;
    margin-top: 60px;

}

.portfolio span {
    font-size: 13px;
    color: #fff;
    margin-bottom: 50px;
}

/*download css*/

.download {
    margin-bottom: 40px;
    margin-top: 100px;
}

.download h3 {
    color: #2d3033;
    font-size: 28px;

}


.download span {
    text-transform: uppercase;
    color: #2d3033;
    font-size: 13px;
}

.download button {
    background-color: #e84545;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 30px;

}

.download button:hover {
    background: #e86754;
}

.contact {
    background-color: #3a3e64;
    margin-top: 50px;
    padding: 50px;
}

.contact-3 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.contact h2 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.contact span {
    font-size: 14px;
    color: #a9aab7;
    padding: 10px;

}

.contact-item p {
    padding: 10px;
    font-size: 14px;
    color: #a9aab7;

}

.contact-item a i {
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #fff;
    font-size: 14px;
}

.contact-item a:hover {
    background: #e84545;
    padding: 7px 2px;
}

/*footer css*/
footer {
    background-color: #313454;
    padding: 40px;
    color: #808080;
    font-size: 18px;
}

footer .heart {
    color: #FF0000;

}

footer .name {
    font-weight: bold;
}
